.state-text-normal {
  color: #1E9FFF;
}
.state-text-warm {
  color: #ff7373;
}
.state-text-unknown {
  color: #f0ad4e;
}
.state-text-base {
  color: #525252;
}
.text-red {
  color: #d7063b !important;
}
.text-limit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
input[type=checkbox] {
  position: relative;
  width: 10px;
  height: 1px;
  margin-left: 16px;
  cursor: pointer;
}
input[type=checkbox]::before {
  content: '';
  position: absolute;
  top: -12px;
  left: -6px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #666666;
  font-size: 16px;
  border: 1px solid #ebedf3;
  background-color: #fff;
  border-radius: 4px;
}
input[type=checkbox]:checked::before {
  color: #fff;
  background-color: #d7063b;
  content: '✔';
}
.img.img-up {
  background: url("../images/zudahao.png");
  background-repeat: no-repeat;
  background-position: -318px 0;
}
.img.img-down {
  background: url("../images/zudahao.png");
  background-repeat: no-repeat;
  background-position: -318px -9px;
}
.header-wrap,
.search,
.banner-wrap,
.change,
.picture {
  font-family: "Microsoft YaHei", serif;
  width: 1190px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 35px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e2e2e2;
  color: #666;
  font-size: 12px;
}
.header .header-opacity {
  float: left;
}
.header .header-opacity > ul > li {
  float: left;
  line-height: 36px;
  padding: 0 10px;
}
.header .header-opacity a {
  color: #666;
  font-family: "Microsoft YaHei", serif;
}
.header .header-opacity a:hover {
  color: #d7063b;
  text-decoration: none;
}
.header .header-nav {
  float: right;
}
.header .header-nav > ul > li:nth-child(even) {
  font-size: 14px;
  color: #ddd;
}
.header .header-nav > ul > li:nth-child(odd) {
  cursor: pointer;
}
.header .header-nav .header-hover:hover {
  background-color: #ffffff;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
.header .header-nav .header-hover:hover .iconfont:before {
  content: "\e603";
}
.header .header-nav > ul > li {
  position: relative;
  float: left;
  height: 35px;
  line-height: 35px;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}
.header .header-nav > ul > li > span {
  padding: 0 6px;
}
.header .header-nav > ul > li > span:hover {
  color: #d7063b;
}
.header .header-nav i.iconfont {
  font-size: 12px;
  padding-left: 8px;
  padding-top: 2px;
}
.header .header-nav .img.img-game {
  width: 18px;
  height: 36px;
  float: left;
  background: url('../images/zudahao.png');
  background-repeat: no-repeat;
  background-position: -447px -20px;
}
.header .header-nav-info {
  z-index: 2;
  display: none;
  position: absolute;
  border: 1px solid #e2e2e2;
  border-top: none;
  background-color: #ffffff;
  width: 230px;
  padding: 10px;
  top: 35px;
  left: -1px;
}
.header .header-nav-info > a {
  line-height: 70px;
  color: #000000;
  font-weight: 600;
  margin-left: 12px;
}
.header .header-nav-info > a:hover {
  text-decoration: none;
}
.header .header-nav-info > img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  float: left;
}
.header .header-nav-info > ul {
  margin-top: 20px;
  overflow: hidden;
}
.header .header-nav-info > ul > li {
  width: 50%;
  float: left;
  line-height: 26px;
}
.header .header-nav-info > ul > li > a {
  color: #9a9a9a;
}
.header .header-nav-info > ul > li > a:hover {
  color: #d7063b;
}
.header .header-nav-info2 {
  width: 100%;
}
.header .header-nav-info2 > ul {
  margin-top: 0;
}
.header .header-nav-info2 > ul > li {
  width: 100%;
}
.search {
  color: #9a9a9a;
}
.search .logo {
  float: left;
  height: 170px;
  width: 200px;
  overflow: hidden;
}
.search .logo img {
  margin-top: 66px;
}
.search .search-box {
  float: left;
  margin-left: 60px;
  margin-top: 66px;
}
.search .search-tab {
  width: 658px;
}
.search .search-tab-title {
  width: 100%;
  overflow: hidden;
}
.search .search-tab-title li {
  color: #666;
  font-size: 12px;
  float: left;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  cursor: pointer;
  background-color: #f4f4f4;
}
.search .search-tab-title li.active {
  background-color: #d7063b;
  color: #ffffff;
}
.search .search-tab-box {
  width: 630px;
  height: 34px;
  border: 3px solid #d7063b;
  border-radius: 0 4px 4px 4px;
}
.search .search-tab-box input {
  height: 29px;
  line-height: 30px;
  color: #666;
  font-size: 12px;
  border: 1px solid #ffffff;
  padding-left: 10px;
}
.search .search-tab-box .zizone,
.search .search-tab-box .shop {
  float: left;
  display: none;
}
.search .search-tab-box .zizone.active,
.search .search-tab-box .shop.active {
  display: block;
}
.search .zizone {
  width: 519px;
  font-size: 12px;
}
.search .zizone > div {
  display: inline-block;
  margin-top: 2px;
  padding: 0 4px 0 6px;
  color: #666;
  cursor: pointer;
}
.search .zizone > div:hover > span {
  color: #d7063b;
}
.search .zizone i.img {
  width: 20px;
  height: 12px;
  border-right: 1px solid #e2e2e2;
  padding-right: 4px;
  display: inline-block;
}
.search .zizone input {
  width: 185px;
}
.search :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 12px;
  color: #9a9a9a;
}
.search ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 12px;
  color: #9a9a9a;
}
.search input:-ms-input-placeholder {
  font-size: 12px;
  color: #9a9a9a;
}
.search input::-webkit-input-placeholder {
  font-size: 12px;
  color: #9a9a9a;
}
.search .shop input {
  width: 516px;
}
.search .search-btn {
  background-color: #d7063b;
  color: #ffffff;
  width: 100px;
  float: right;
  height: 100%;
  border: 1px solid #d7063b;
}
.search .search-help li {
  float: left;
  padding-left: 10px;
}
.search .search-help a {
  line-height: 26px;
  font-size: 12px;
  color: #9a9a9a;
}
.search .search-help a:hover {
  color: #d7063b;
  text-decoration: none;
}
.nav {
  border-bottom: 3px solid #393939;
}
.nav .nav-wrap {
  width: 1190px;
  margin: 0 auto;
}
.nav .banner-lists {
  height: auto;
}
.nav .banner-lists #banner-all-game:hover {
  background-color: #d7063b;
}
.nav .banner-change-nav {
  float: left;
}
.nav .banner-change-nav li {
  float: left;
  color: #000000;
  font-size: 13px;
  padding-left: 30px;
  font-weight: 600;
  line-height: 40px;
  cursor: pointer;
  position: relative;
}
.nav .banner-change-nav li:hover {
  color: #d7063b;
}
.game-zizone {
  display: none;
  border: 1px solid #d7063b;
  background-color: #ffffff;
  position: absolute;
  z-index: 3;
  left: 249px;
  top: 39px;
  width: 680px;
  min-height: 381px;
  padding: 10px;
}
.game-zizone > li {
  width: 100%;
  margin-bottom: 10px;
  line-height: 44px;
}
.game-zizone > li > span {
  font-weight: 600;
}
.game-zizone > li > ul {
  border-top: 1px dotted #d7063b;
  overflow: hidden;
  width: 100%;
}
.game-zizone > li > ul > li {
  font-weight: normal;
  width: 65px;
  float: left;
  line-height: 26px;
  margin-right: 10px;
  cursor: pointer;
}
.game-zizone > li > ul > li > a {
  color: #333333;
}
.game-zizone > li > ul > li > a:hover {
  cursor: pointer;
  color: #d7063b;
}
.banner-lists {
  position: relative;
  float: left;
  width: 250px;
  font-size: 13px;
}
.banner-lists > div {
  height: 40px;
  line-height: 40px;
  background-color: #d7063b;
  color: #ffffff;
  text-align: center;
}
.banner-lists .game-lists {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 405px;
}
.banner-lists .game-lists > li {
  padding-left: 80px;
  height: 44px;
  cursor: pointer;
  line-height: 44px;
  color: #ffffff;
}
.banner-lists .game-lists > li i.iconfont {
  font-size: 14px;
  padding-right: 8px;
}
.banner-lists .game-lists > li:hover {
  background-color: #d7063b;
}
.banner-lists .game-lists > li:hover > span {
  color: #ffffff;
  transition: 0.5s;
  margin-left: 18px;
}
.banner-lists .game-lists > li.game-lists-active {
  background-color: #d7063b;
}
.banner-lists .game-lists > li.game-lists-active > span {
  color: #ffffff;
  transition: 0.5s;
  margin-left: 18px;
}
i.img.img-tophot {
  position: absolute;
  background: url('../images/zudahao.png');
  background-repeat: no-repeat;
  background-position: -372px 0px;
  width: 31px;
  height: 23px;
  right: 0;
  top: -10px;
  display: inline-block;
}
#mockInput {
  cursor: text;
  background: #fff;
  outline: none;
  position: relative;
  padding: 8px 0;
  height: 24px;
  top: -42px;
  border: 1px solid #ebedf3;
  border-radius: 4px;
}
#mockInput i {
  float: left;
  display: block;
  padding: 10px 0;
  height: 7px;
  border-right: 1px solid #ebedf3;
}
#mockInput i:last-child {
  border-right: none;
}
#mockInput .highLight {
  display: inline-block;
  position: absolute;
  z-index: 999;
  width: 36px;
  height: 40px;
  left: 1px;
  top: 0px;
  box-shadow: 0 0 5px #1E9FFF;
  transition: left 0.3s;
}
#mockInput .highLight i {
  width: 1px;
  height: 0;
  position: absolute;
  border-left: 1px solid #1E9FFF;
  left: 17px;
  top: 12px;
}
#mockInput i b {
  display: block;
  margin: 0 auto;
  width: 7px;
  height: 7px;
  overflow: hidden;
}
#mockInput i b.active {
  display: block;
  margin: 0 auto;
  width: 7px;
  height: 7px;
  overflow: hidden;
  background-color: #525252;
  border-radius: 50%;
}
.carouselBox {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.carouselBox .carousel img {
  width: 100%;
  height: 100%;
}
.carouselBox .carousel {
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
}
.carouselBox .carousel_pager_box {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  width: 150px;
  right: 10px;
  text-align: center;
  z-index: 2;
}
.carouselBox .carousel_pager {
  display: inline-block;
  /*margin:0 auto;*/
}
.carouselBox .carousel_pager b {
  float: left;
  display: block;
  background: #27272b;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
}
.carouselBox .carousel_pager b.curr {
  background: #d7063b;
}
.carouselBox .carousel li.curr {
  z-index: 1;
  opacity: 1;
}
.carouselBox .carousel li {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  left: 0;
  top: 0;
  transition: all linear .5s;
  background: no-repeat center 0;
}
.carouselBox .carousel_button .next {
  margin-left: 311px ;
}
.carouselBox .carousel_button .prev {
  left: 0;
}
.carouselBox .carousel_button a:hover {
  opacity: 0.4;
}
.carouselBox .carousel_button a {
  display: block;
  width: 28px;
  height: 62px;
  line-height: 62px;
  background: #000;
  opacity: 0.2;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-top: -31px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  font-family: SimSun;
  filter: alpha(opacity=20);
  -webkit-transition: opacity .2s linear 0s;
  transition: opacity .2s linear 0s;
  position: absolute;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
