.pop-pages {
  margin-top: 20px;
  text-align: right;
  margin-bottom: 20px;
  margin-right: 30px;
  font-size: 13px;
}
.pop-pages .jump-ipt {
  width: 20px;
  padding: 0 10px;
  height: 35px;
  text-align: center;
  border: 1px solid #d7063b;
}
.pop-pages .jump-btn {
  margin-left: 10px;
  height: 35px;
  width: 50px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #d7063b;
}
.pop-pages .jump-btn:hover {
  background-color: #d7063b;
}
.pop-pages a {
  text-decoration: none;
  color: #666;
}
.pop-pages a:not(:last-child) {
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #ECECEC;
  background-color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}
.pop-pages a:not(:last-child):hover {
  background-color: #d7063b;
  color: #fff;
}
.pop-pages span {
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #ECECEC;
  background-color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}
.pop-pages .active {
  color: #fff;
  background-color: #d7063b;
}
