<script type="text/html" id="getHeader">
    <div class="header-search fl">
        <div class="shop-img"><a href="index.html"><img src="http://zudahao.zudahao.com/agents2/images/zudahao.png"></a></div>
    </div>
    <div class="header-info fr">
        <ul>
            <li class="attention"><a href="trade-picture.html"><i class="iconfont icon-alert"></i>
                {{ if monitorNum != 0 }}
                <i class="info-nums">{{ monitorNum }}</i>
                {{/if}}
            <span>监控警告</span></a></li>
            <li class="attention"><a href="shop-get-info.html"><i class="iconfont icon-notice"></i>
                {{ if messageNum != 0 }}
                <i class="info-nums">{{ messageNum }}</i>
                {{/if}}
                <span>站内通知</span></a></li>
            <li class="attention"><i class="iconfont icon-chat"></i>
                {{ if offlineNum != 0 }}
                <i class="info-nums">{{ offlineNum }}</i>
                {{/if}}
                <span>聊天</span></li>
            <li class="attention">
                <i class="iconfont icon-user"></i>{{shopName}}
                <i class="iconfont icon-down"></i>
                <ul class="user-info">
                    <li><a href="money-history.html">财务提现</a></li>
                    <li onclick="javascript:$.ajax({url:spliceUrl('agents/logout'),type:'POST'}) .done(function(json) {if(json.content == 1){window.location.href = 'login.html'}})">退出登录</li>
                </ul>
            </li>
        </ul>
    </div>
</script>