<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提现记录查询</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">
</head>
<body>
<header>
</header>
<section class="wrap">
    <nav class="nav">
    </nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>资金管理</span> / <span>提现记录查询</span>
        </div>
        <!--表格-->
        <div class="table-wrap">
            <table class="table-main">
                <thead>
                <tr>
                    <th>状态</th>
                    <th>申请时间</th>
                    <th>申请金额</th>
                    <th>提现方式</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
        <!--分页-->
        <div class="pop-pages"></div>
    </div>
</section>
<footer>
</footer>

<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/money-history.js"></script>
<script id="tbodyTemplate" type="text/html">
    {{  if agentsRecharges.length !== 0 }}
    {{ each agentsRecharges as item i }}
    <tr>
        <!--状态-->
        {{ if item.financeState == 1 }}
        <td>正在核对中</td>
        {{ else if item.financeState == 2 }}
        <td class="state-text-normal">处理中</td>
        {{ else if item.financeState == 3 }}
        <td>有问题二次审核</td>
        {{ else if item.financeState == 4 }}
        <td class="state-text-normal">提现成功</td>
        {{ else if item.financeState == 5 }}
        <td class="state-text-warm">提现失败</td>
        {{ else }}
        <td></td>
        {{ /if }}
        <!--申请时间-->
        <td>
            {{ item.createTime | dateFormat:'yyyy年MM月dd日 hh:mm:ss' }}
        </td>
        <!--申请金额-->
        <td>
            {{ item.addMoney | Math.abs }}元
        </td>
        <!--提现方式-->
        <td>
            {{ item.payWayStr }}
        </td>
        <!--备注-->
        <td>
            {{ if item.errorNote }}
            {{ item.errorNote }}
            {{ /if }}
        </td>
    </tr>
    {{ /each }}
    {{ else }}
    {{ window.$('.main').getUndefined({text:'没有您需要的数据哦。'}) }}
    {{ /if }}
</script>


</body>
</html>
