<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投诉详情</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">
    <link href="http://zudahao.zudahao.com/agents2/css/product.css" rel="stylesheet">
    <link href="http://zudahao.zudahao.com/agents2/css/sale-complain.css" rel="stylesheet">
    <link href="http://zudahao.zudahao.com/agents2/css/webupload.css" rel="stylesheet">
</head>
<body>
<header>
</header>
<section class="wrap">
    <nav class="nav"></nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>交易管理</span> / <span>投诉详情</span>
        </div>
        <!--产品信息列表-->
        <div class="table-wrap">
            <div id="tbody"></div>
        </div>
        <!--订单其他信息-->
        <div class="complain-box hide">
            <ul class="complain-box-info">
                <li>售后状态 <i class="imgfont img-question" id="afterStateNotice"></i><span id="afterState"></span></li>
                <li>处理时限 <i class="imgfont img-question" id="handingTimeNotice"></i><span id="handingTime"></span></li>
                <li>举证回合 <i class="imgfont img-question" id="surplusNumNotice"></i><span id="surplusNum"></span></li>
                <li>售后分类 <i class="imgfont img-question" id="afterTypeNotice"></i><span id="afterType"></span></li>
                <!--<li>赔付金额 <i class="imgfont img-question"></i> <span class="complainMoney"></span></li>-->
            </ul>
        </div>
        <div id="speakTbody"></div>
        <div class="complain-box hide">
            <div class="form">
                <ul id="formContent">
                    <li class="form-content">
                        <span>投诉内容</span>
                        <i class="imgfont img-notice" id="complainIntoNotice" data-id="tipPop"></i>
                        <textarea placeholder="请填写投诉内容" maxlength="200" id="complainInto"></textarea>
                        <p class="form-notice" style="display: none">
                            还能输入<i class="font-nums">200</i>个字符
                        </p>
                    </li>
                    <li class="form-content">
                        <span>* 举证图片</span>
                        <i class="imgfont img-question" id="complainPicNotice"></i>
                        <div class="form-item-box">
                            <div class="img-update">
                                <div id="picker"><img src="http://zudahao.zudahao.com/agents/images/plus.png" style="width: 100%;height:100%"></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="button-group">
                    <button class="button-event-large-blue" id="postClaim">提交留言</button>
                    <button class="button-event-large-blue" id="agree">同意退款</button>
                    <button class="button-event-large-blue" id="advanceClaim">提前进入仲裁</button>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
</footer>
<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/laydate/laydate.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/setVerificationTip.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/error.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/webuploader.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/webuploaderSet.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/sale-complain.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/sale-complain.js"></script>

<!--产品信息-->
<script id="tbodyTemplate" type="text/html">
    {{if orderAgentsDtos.length !== 0 }}
    {{each orderAgentsDtos as item i}}
    <div class="product" data-id="{{item.orderId }}">
        <div class="product-item">
            {{ if item.orderState == 1 && item.orderCdkState !=3 }}
            <div class="title state-normal">
                {{else if item.orderState == 3||item.orderState == 4 ||item.orderState == 6 || item.orderCdkState == 3 && item.orderState!= 2}}
                <div class="title state-warm">
                    {{else}}
                    <div class="title state-end">
                        {{/if}}
                        <ul class="product-notice">
                            <li>上号激活码  {{item.orderCdk}}
                            </li>
                        </ul>
                    </div>
                    <ul class="product-item-info">
                        <li>
                            <ul class="product-item-info-item">
                                <li class="text-limit" title="{{ item.productTitle }}">{{ item.productTitle }}</li>
                                <li>游戏大区：<span class="game-info">{{ item.zoneName }}</span></li>
                                <li>订单编号：{{ item.orderId }}</li>
                                <li>产品编号：{{ item.productId }}</li>
                                <li>下单方式：
                                    {{ if item.orderType == 2 }}<span class="way-self">商家自建</span>
                                    {{ else if item.orderType== 1 }}<span class="way-terrace">平台订单</span>
                                    {{ /if }}
                                </li>
                                {{ if item.nickName }}
                                <li>账号别名：{{ item.nickName }}</li>
                                {{ else }}
                                <li>账号别名：暂无</li>
                                {{ /if }}
                            </ul>
                        </li>
                        <li>
                            <ul class="product-item-info-item">
                                <li>订单租金：{{ item.rental }}元</li>
                                <li>订单押金：{{ item.deposit }}</li>
                                <li>号主获利：{{ item.rate }}%</li>
                                <li>商家获利：{{ item.ownerRate }}%</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product-item-info-item">
                                <li>激活次数：{{ item.activateCount }}次</li>
                                <li>激活设备：{{ item.activateEquipCount}}次</li>
                                <li>违规操作：{{ item.doneViolation }}次</li>
                                <li>截图数量：<a href="trade-picture.html?orderId={{item.orderId }}" target="_blank">{{item.screenShotCount }}</a></li>
                                <li>危险进程：<a href="trade-diary.html?orderId={{item.orderId }}" target="_blank">{{item.unAuditScrShot}}</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product-item-info-item">
                                <li>状态：{{ if item.orderState == 1 }}租赁中
                                    {{else if item.orderState == 2 }}租赁结束
                                    {{else if item.orderState == 3 }}客户申诉
                                    {{else if item.orderState == 4 }}代理商申诉
                                    {{else if item.orderState == 6 }}异常关闭
                                    {{else if item.orderState == 7 }}成功扣除保证金
                                    {{else if item.orderState == 8 }}撤单中
                                    {{else if item.orderState == 9 }}撤单成功
                                    {{else if item.orderState == 10 }}撤单失败
                                    {{else if item.orderState == 11 }}预约中
                                    {{else if item.orderState == 12 }}取消预约
                                    {{/if }}
                                    {{if item.orderCdkState == 3 }}
                                    <span class="state-text-warm">
                                    （CDK冻结）
                                    </span>
                                    {{ /if }}
                                </li>
                                {{ if item.errorNote }}
                                <li class="text-limit">
                                    理由：{{ item.errorNote}}
                                </li>
                                {{ /if }}
                                <li>开始：{{ item.startTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}</li>
                                <li>结束：{{ item.endTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}</li>
                                <li>时长：{{ timeLength(item.endTime,item.startTime)}}小时 </li>
                                <li>剩余：{{ timeResidue(item.endTime)}}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product-item-info-item">
                                <li>
                                    {{if item.orderState == 1 }}
                                        {{ if item.orderType == 1 }}
                                            {{ if item.orderCdkState == 1 }}
                                                <button class="button-event-small-blue" id="closeOrder">锁卡</button>
                                            {{else if item.orderCdkState == 3 }}
                                                <button class="button-event-small-blue" id="openOrder">解卡</button>
                                            {{/if }}
                                        {{/if }}
                                    {{/if }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {{/each}}
            {{ else }}
            {{ window.$('.main').getUndefined({text:'没有您需要的数据哦。'}) }}
            {{ /if }}
        </div>
    </div>
</script>

<!--投诉对话详情-->
<script id="speakTbodyTemplate" type="text/html">
    {{if speaks.length !== 0 }}
    <div class="complain-box">
        {{each speaks as item i}}
        <div class="complain-box-item">
            {{ if item.speakRole == 2 }}
            <div class="complain-speaker speaker-agents">
                商户
            </div>
            {{ else}}
            <div class="complain-speaker speaker-user">
                租客
            </div>
            {{ /if}}
            <div class="complain-speak">
                <div class="speak-time">{{ item.speakTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}</div>
                <div class="speak-content">{{ item.speakContent }}</div>
                {{ if item.speakImageUrls}}
                <div class="speak-img">
                    <img src="{{ item.speakImageUrls }}">
                </div>
                {{ /if}}
            </div>
        </div>
        <!--<div class="complain-box-item">-->
        <!--<div class="complain-speaker speaker-super">-->
        <!--平台-->
        <!--</div>-->
        <!--<div class="complain-speak">-->
        <!--<div class="speak-time">2017年10月31日 11:32:45</div>-->
        <!--<div class="speak-content">这里写上买家的发言内容！</div>-->
        <!--<div class="speak-img">-->
        <!--<img src="http://zudahao.zudahao.com/agents2/images/chiji.png">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        {{/each}}
    </div>
    {{ else }}
    <!--{{ window.$('.main').getUndefined({text:'没有您需要的数据哦。'}) }}-->
    {{ /if }}
</script>


</body>
</html>