video::-internal-media-controls-download-button {
  display: none;
}
video::-webkit-media-controls-enclosure {
  overflow: hidden;
}
video::-webkit-media-controls-panel {
  width: calc(108.3%);
}
.pay-body {
  width: 1190px;
  margin: 0 auto;
  padding-top: 10px;
}
.pay-body .pay-progress .progress-title-box .pay-progress-title {
  color: #666;
  font-size: 13px;
}
.pay-body .pay-progress .progress-title-box .pay-progress-title:nth-child(2) {
  margin: 0 451px;
}
.pay-body .pay-progress .progress-box {
  margin-top: 10px;
  padding: 0 10px;
  position: relative;
}
.pay-body .pay-progress .progress-box > span {
  background: #e799ba;
  color: #fff;
  display: inline-block;
  font-size: 17px;
}
.pay-body .pay-progress .progress-box .progress-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}
.pay-body .pay-progress .progress-box .progress-circle.progress-circle-center {
  margin: 10px 501px 10px 523px;
}
.pay-body .pay-progress .progress-box .progress-rectangle {
  position: absolute;
  width: 280px;
  top: 23px;
  height: 10px;
  border-radius: 5px;
}
.pay-body .pay-progress .progress-box span:nth-child(2) {
  left: 34px;
}
.pay-body .pay-progress .progress-box span:nth-child(3) {
  left: 300px;
}
.pay-body .pay-progress .progress-box span:nth-child(5) {
  left: 602px;
}
.pay-body .pay-progress .progress-box span:nth-child(6) {
  left: 840px;
}
.pay-body .pay-progress .progress-box span.active {
  background: #D7063B;
  z-index: 2;
}
.pay-body .product-pay-box {
  margin-top: 20px;
  background: #f4f4f4;
  width: 1190px;
  height: 497px;
  padding-top: 10px;
}
.pay-body .product-pay-box .product-pay-detail {
  background: #fffeee;
  border: 1px solid #ffd8a3;
  width: 1170px;
  margin: 0 auto;
  height: 169px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg {
  width: 420px;
  margin: 20px;
  max-height: 149px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg > p {
  margin-bottom: 8px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-title {
  color: #333;
  font-size: 12px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-rent-notice {
  color: #e7e7e7;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-rent-notice > span {
  color: #ff8b26;
  font-size: 12px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-account-area {
  color: #e7e7e7;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-account-area > span {
  color: #999;
  font-size: 12px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-appraise {
  color: #999;
  font-size: 12px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-appraise > span:first-child {
  font-family: SimSun;
  color: #0066CC;
  margin-right: 12px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-agents-shop {
  color: #999;
  font-size: 12px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-agents-shop > span {
  margin: 0 6px 0 10px;
}
.pay-body .product-pay-box .product-pay-detail .product-base-msg .product-security > span {
  display: inline-block;
  width: 18px;
  height: 17px;
  line-height: 17px;
  border: 1px solid #469c09;
  color: #fff;
  background-color: #4FB109;
  text-align: center;
  font-size: 12px;
  margin-right: 1px;
}
.pay-body .product-pay-box .product-pay-detail .product-rent-msg {
  width: 420px;
  margin: 20px;
  max-height: 149px;
  color: #999;
  font-size: 12px;
}
.pay-body .product-pay-box .product-pay-detail .product-rent-msg > li {
  margin-bottom: 8px;
}
.pay-body .product-pay-box .product-pay-detail .product-rent-msg > li .product-rent-title {
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
  width: 60px;
}
.pay-body .product-pay-box .product-pay-detail .product-rent-amount {
  margin: -50px 0;
}
.pay-body .product-pay-box .product-pay-detail .product-rent-amount > p {
  color: #d7063b;
  font-size: 17px;
  width: 300px;
}
.pay-body .product-pay-box .product-pay {
  width: 360px;
  padding: 40px 40px 0;
}
.pay-body .product-pay-box .product-pay .product-pay-item {
  margin-bottom: 21px;
  color: #666;
  font-size: 13px;
}
.pay-body .product-pay-box .product-pay .product-pay-item .product-pay-title {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.pay-body .product-pay-box .product-pay .product-pay-item .available-balance {
  margin-right: 5px;
  display: inline-block;
}
.pay-body .product-pay-box .product-pay .product-pay-item .available-balance ~ a {
  color: #28adf1;
  text-decoration: none;
  margin-right: 12px;
}
.pay-body .product-pay-box .product-pay .product-pay-item .open-pay-password {
  color: #d7063b;
}
.pay-body .product-pay-box .product-pay .product-pay-item .pay-button {
  display: inline-block;
  width: 180px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  text-decoration: none;
  color: #fff;
  background: #d7063b;
  font-size: 17px;
}
.pay-body .product-pay-box .product-pay .product-pay-item .pay-button.ban-click {
  background: #9a9a9a;
  cursor: no-drop !important;
}
.pay-body .product-complete-box {
  margin-top: 20px;
  background: #f4f4f4;
  width: 1190px;
  height: 464px;
  padding-top: 10px;
}
.pay-body .product-complete-box .product-detail-box {
  border-bottom: 1px dotted #D7063B;
  width: 1155px;
  margin: 0 auto;
  height: 300px;
}
.pay-body .product-complete-box .product-detail-box .pay-order {
  width: 357px;
  height: 248px;
  padding: 20px;
  margin-left: 40px;
  font-size: 12px;
  color: #000000;
}
.pay-body .product-complete-box .product-detail-box .pay-order .order-msg {
  margin: 10px 0;
}
.pay-body .product-complete-box .product-detail-box .pay-order .order-msg > span:first-child {
  display: inline-block;
  width: 80px;
  text-align: right;
}
.pay-body .product-complete-box .product-detail-box .pay-order .order-msg a {
  color: #0066cc;
  text-decoration: none;
}
.pay-body .product-complete-box .product-detail-box .pay-order .order-msg .unlock-btn {
  cursor: pointer;
  padding: 2px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #F3F3F3;
}
.pay-body .product-complete-box .product-detail-box .pay-order .order-msg .unlock-key {
  color: #ff612d;
}
.pay-body .product-complete-box .product-detail-box .help-video-container {
  width: 463px;
  height: 238px;
  margin-right: 123px;
  margin-top: 14px;
  position: relative;
}
.pay-body .product-complete-box .product-detail-box .help-video-container .help-video {
  width: 100%;
  height: 100%;
}
.pay-body .product-complete-box .product-detail-box .help-video-container .video-button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer;
}
.pay-body .product-complete-box .load-help-box {
  color: #666;
  padding-top: 22px;
  width: 1155px;
  margin: 0 auto;
}
.pay-body .product-complete-box .load-help-box .load-help-title {
  font-size: 17px;
  margin-bottom: 15px;
}
.pay-body .product-complete-box .load-help-box .load-help-detail .load-help-item {
  display: inline-block;
  padding-left: 22px;
}
.pay-body .product-complete-box .load-help-box .load-help-detail .load-help-item .load-help-step {
  font-size: 17px;
  text-align: center;
  background-color: #d7063b;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  line-height: 36px;
  color: #fff;
  display: inline-block;
  margin-right: 14px;
}
.pay-body .product-complete-box .load-help-box .load-help-detail .load-help-item .load-help-content {
  display: inline-block;
  vertical-align: top;
  padding-top: 11px;
  max-width: 248px;
}
.pay-body .product-complete-box .load-help-box .load-help-detail .load-help-item .load-help-content .load-help-content-profile {
  font-size: 15px;
  margin-bottom: 18px;
}
.pay-body .product-complete-box .load-help-box .load-help-detail .load-help-item .load-help-content .load-help-relative > a {
  font-family: MicrosoftYaHeiLight;
  color: #666;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
}
.pay-body .product-complete-box .load-help-box .load-help-detail .load-help-item .load-help-content .load-help-relative > a:hover {
  color: #d7063b;
}
.pay-body .product-complete-box .load-help-box .load-help-detail .load-help-item .load-help-content .load-help-relative > a:not(:last-child) {
  margin-right: 4px;
}
