<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家店铺</title>
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/icon.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/search.css" rel="stylesheet">
    <link href="css/page.css" rel="stylesheet">
    <link href="css/shop.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="header-wrap">
        <div class="header-opacity">
            <ul>
                <li><a href="">亲，请登录</a></li>
                <li><a href="" class="text-red">免费注册</a></li>
            </ul>
        </div>
        <div class="header-nav">
            <ul>
                <li class="header-hover">
                    <span>我的个人中心<i class="iconfont icon-top"></i></span>
                    <div class="header-nav-info">
                        <img src="images/gray-zudahao.jpg" alt="">
                        <a href="" class="">你好，请登录</a>
                        <a href="" class="text-red"> 免费注册</a>
                        <ul class="">
                            <li><a href="">账户余额</a></li>
                            <li><a href="">待处理订单</a></li>
                            <li><a href="">我的购物卡</a></li>
                            <li><a href="">我的收藏</a></li>
                            <li><a href="">我的优惠券</a></li>
                            <li><a href="">我的评价</a></li>
                            <li><a href="">我的积分</a></li>
                        </ul>
                    </div>
                </li>
                <li>|</li>
                <li class="header-hover">
                    <span>我的订单<i class="iconfont icon-top"></i></span>
                    <div class="header-nav-info header-nav-info2">
                        <ul class="">
                            <li><a href="">账户余额</a></li>
                            <li><a href="">待处理订单</a></li>
                            <li><a href="">我的购物卡</a></li>
                            <li><a href="">我的收藏</a></li>
                            <li><a href="">我的优惠券</a></li>
                            <li><a href="">我的评价</a></li>
                            <li><a href="">我的积分</a></li>
                        </ul>
                    </div>
                </li>
                <li>|</li>
                <li><span><i class="img img-game"></i>发布闲置账号</span>
                </li>
                <li>|</li>
                <li><span>帮助中心</span></li>
                <li>|</li>
                <li><span>新手快速入门</span></li>
                <li>|</li>
                <li><span>客户服务</span></li>
                <li>|</li>
                <li><span>关注我们</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="search clearBoth">
    <div class="logo">
        <img src="images/zudahao.png" alt="租大号">
    </div>
    <div class="shop-info">
        <div class="shop-name">
            <span id="shopName"></span>
            <span id="shopLevel"></span>
        </div>
        <div class="shop-level">
            <span>信誉：二冠</span>
            <span>好评：100%</span>

        </div>
    </div>
    <div class="search-box">
        <div class="search-tab">
            <ul class="search-tab-title">
                <li class="active">账号搜索</li>
                <li>店铺搜索</li>
            </ul>
            <div class="search-tab-box">
                <div class="zizone active" style="position:relative;">
                    <div data-id="gameTitle"><span data-id="gameMenuTitle">游戏名称</span><i class="img img-up"></i></div>
                    <div data-id="gameTitle"><span data-id="gameMenuTitle">游戏区</span><i class="img img-up"></i></div>
                    <div data-id="gameTitle"><span data-id="gameMenuTitle">游戏服务器</span><i class="img img-up"></i></div>
                    <input type="text" placeholder="请输入装备或者皮肤名称">
                    <div class="game-select" id="game-select" style="display: none;"></div>
                </div>
                <div class="shop">
                    <input type="text" placeholder="请输入店铺名称">
                </div>
                <button class="search-btn">搜索</button>
            </div>
        </div>
        <div class="search-help">
            <ul>
                <li><a href=""> 绝地求生</a></li>
                <li><a href=""> 守望先锋</a></li>
                <li><a href=""> 枪神纪</a></li>
                <li><a href=""> 穿越火线</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-img">
    <!--<img src="" alt="">-->
</div>
<div class="shop-nav">
    <div class="shop-wrap">
        <ul>
            <li>店铺所有账号</li>
            <li>主营游戏分类</li>
            <li>主营游戏分类2</li>
            <li>主营游戏分类2</li>
            <li>主营游戏分类2</li>
        </ul>
        <ul>
            <li>上号器下载</li>
            <li>上号帮助</li>
        </ul>
    </div>
</div>
<div class="container">
    <!--店铺公告-->
    <div class="notice">
        <ul>
        </ul>
    </div>
    <!--类型选择-->
    <ul class="select">
        <li><span>类型</span>
            <ul id="type">
                <li class="active">电脑游戏</li>
                <!--<li>手机游戏</li>-->
            </ul>
        </li>
        <li><span>游戏名称</span>
            <ul id="gameBox">
                <li><i class="img img-lol" data-id="9"></i></li>
                <li><i class="img img-cf" data-id="3"></i></li>
                <li><i class="img img-cs" data-id=""></i></li>
                <li><i class="img img-qiangshen" data-id=""></i></li>
                <li><i class="img img-nizhan" data-id=""></i></li>
                <li><i class="img img-shou" data-id=""></i></li>
                <li><i class="img img-battle" data-id="51"></i></li>
                <li><i class="img img-qianghuo" data-id=""></i></li>
                <li><i class="img img-qqfeiche" data-id=""></i></li>
                <li><i class="img img-h1z1" data-id=""></i></li>
            </ul>
        </li>
        <li><span>游戏服务器</span>
            <ul id="gameZone">
                <li>所有服务器</li>
            </ul>
        </li>
        <li><span>时租价格区间</span>
            <ul id="price">
                <li class="active">不限</li>
                <li>3 元以下</li>
                <li>3-5 元</li>
                <li>5-10 元</li>
                <li>10 元以上</li>
                <input type="text" id="startPrice">-<input type="text" id="endPrice">
                <button id="priceQuery">确定</button>

            </ul>
        </li>
    </ul>
    <!--表格标题-->
    <div class="product-title">
        <ul>
            <li data-id="1" class="active">默认排序</li>
            <li data-id="5">时间<i class="img img-down"></i><i class="img img-up"></i></li>
            <li data-id="3">价格<i class="img img-down "></i><i class="img img-up"></i></li>
            <li data-id="2">销量</li>
            <li data-id="">评价</li>
        </ul>
        <div class="product-title-select">
            <label for="moneyMortgage"><input type="checkbox" id="moneyMortgage">无押金</label>
            <label for="timeEnd"><input type="checkbox" id="timeEnd">到时间不下号</label>
        </div>
        <div class="product-title-num">
            共<span id="productSize"></span>个商品
            <i id="prePage"><</i>
            <span id="nowPage">0</span>/<span id="totolPage">0</span>
            <i id="nextPage">></i>
        </div>
    </div>
    <!--产品信息列表-->
    <div class="table-wrap">
        <div id="tbody"></div>
    </div>
    <!--使用分页插件-->
    <div class="pop-pages"></div>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery.pagination.js"></script>
<script src="js/base.js"></script>
<script src="js/template-web.js"></script>
<script src="js/jquery.xdomainrequest.min.js"></script>
<script src="js/gameSelect.js"></script>
<script src="js/jQuery.Hz2Py-min.js"></script>
<script src="js/shop.js"></script>
<script src="js/search.js"></script>
<script src="Interface/shop.js"></script>


<script type="text/html" id="tbodyTemplate">
    {{ if searchProductDtos.length !== 0  }}
    {{ each searchProductDtos as item i }}
    <div class="product">
        <div class="product-item">
            <ul class="product-item-info">
                <li>
                    <ul class="product-item-info-item">
                        <li class="text-limit">{{item.productTitle}}</li>
                        <li class="state-text-unknown"><i class="img img-note"></i>{{item.minRentTime}}小时起租
                            {{ if item.maxRentTime != 0 }}
                            （最多{{ item.maxRentTime }}小时）
                            {{else}}
                            （不限制最大租赁时长）
                            {{ /if}}
                            {{ if item.flag==0 }}
                            到期不下号
                            {{/if}}
                        </li>
                        <li>{{item.ziZoneName}}</li>
                        <li>好评 <i class="state-text-normal">!!!!%</i> 评价!!!!条</li>
                        <li>{{item.shopName}}
                            Lv.{{ if item.agentScore < 1000}}1
                            {{ else if item.agentScore <5000 }}2
                            {{ else }}3
                            {{ /if }}
                            店铺
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="product-item-info-item">
                        <li class="equip">
                            <i>{{ item.equipmentName }}</i></li>
                    </ul>
                </li>
                <li>
                    <div class="product-item-info-item">
                        <div class="h-money">时租金：{{ item.adminHrental}}元/小时

                            {{ if item.deposit != 0 }}
                            （押金{{item.deposit}}元）
                            {{ /if}}
                        </div>
                        <div class="compensate">
                            {{if item.deposit ==0 }}
                            <i>免</i>
                            {{/if}}
                            <i>赔!</i>
                            {{ if item.flag==0 }}
                            <i>续</i>
                            {{/if}}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-item-info-item">
                        {{ if item.state == 1 }}
                        <button class="button-event-small-blue">立即租赁</button>
                        {{ else if item.state == 2}}
                        <button class="button-event-small-blue">!!立即预定</button>
                        {{ /if }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {{ /each }}
    {{ else }}
    <div class="product-undefined">
        <i class="img img-undefined"></i>
        <div>
            <p>没有找到相关的账号信息。</p>
            <p>您可以尝试更换搜索的关键词或条件。</p>
            <p>您若有相关的游戏账号资源，也可以进行将账号托管到平台 ： <a href="" target="_blank">点击进行放号操作</a></p>
        </div>
    </div>
    {{ /if }}
</script>

</body>
</html>