<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三方流水</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">
</head>
<body>
<header>
</header>
<section class="wrap">
    <nav class="nav">
    </nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>资金管理</span> / <span>第三方流水</span>
        </div>
        <!--多框搜索-->
        <div class="search-bg multi-search show">
            <ul>
                <li class="multi-search-item">
                    <span>订单ID</span>
                    <i class="imgfont img-question" id="orderIdNotice"></i>
                    <input type="text" placeholder="请输入订单ID" id="orderId">
                </li>
                <li class="multi-search-item">
                    <span>产品ID</span>
                    <i class="imgfont img-question" id="productIdNotice"></i>
                    <input type="text" placeholder="请输入产品ID" id="productId">
                </li>
                <li class="multi-search-item-single ">
                    <button class="button-event-middle-blue" id="search">搜索</button>
                </li>
            </ul>
        </div>
        <!--表格-->
        <div class="table-wrap">
            <table class="table-main">
                <thead>
                <tr>
                    <th>流水号</th>
                    <th>来源方式</th>
                    <th>实际收取金额</th>
                    <th>号主所得金额</th>
                    <th>代理商所得金额</th>
                    <th>订单来源</th>
                    <th>日期和时间</th>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
        <!--分页-->
        <div class="pop-pages"></div>
    </div>
</section>
<footer>
</footer>

<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/laydate/laydate.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/error.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/money-third-part-flow.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/money-third-part-flow.js"></script>
<script id="tbodyTemplate" type="text/html">
    {{  if agentsOutMoneyChanges.length !== 0 }}
    {{ each agentsOutMoneyChanges as item i }}
    <tr>
        <!--流水号-->
        <td>
            {{ item.serializableId }}
        </td>
        <!--来源方式-->
        <td>
            {{ if item.type == 1}}下单
            {{ else }}续租
            {{ /if }}
        </td>
        <!--实际收取金额-->
        {{if item.actualMoney }}
        {{ if item.actualMoney < 0 }}
        <td class="state-text-warm">{{ item.actualMoney }}</td>
        {{ else if item.actualMoney > 0 }}
        <td class="state-text-normal">+{{ item.actualMoney }}</td>
        {{ else }}
        <td></td>
        {{ /if }}
        {{ else }}
        <td></td>
        {{ /if }}
        <!--号主所得金额-->
        <td>{{ item.ownerGetMoney }}</td>
        <!--代理商所得金额-->
        <td>{{ item.agentsGetMoney }}</td>
        <!--订单来源-->
        <td>
            {{ if item.source == 1 }}淘宝
            {{ else if item.source == 2 }}微信
            {{ else if item.source == 3 }}QQ红包
            {{ else if item.source == 4 }}微信号码
            {{ else if item.source == 5 }}手机号码
            {{ else if item.source == 6 }}其它
            <!--待修改-->
            {{ else if item.source == 0 }}其它
            {{ /if }}
        </td>
        <!--日期和时间-->
        <td>
            {{ item.timeStamp | dateFormat:'yyyy年MM月dd日 hh:mm:ss' }}
        </td>
    </tr>
    {{ /each }}
    {{ else }}
    {{ window.$('.main').getUndefined({text:'没有您需要的数据哦。'}) }}
    {{ /if }}
</script>


</body>
</html>
