<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关键词规则</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">
</head>
<body>
<header>
</header>
<section class="wrap">
    <nav class="nav">
    </nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>防护中心</span> / <span>关键词规则</span>
        </div>

        <div id="content"></div>
        <!--单框搜索-->
        <div class="search-bg single-search">
            <span>规则关键词搜索</span>
            <i class="imgfont img-question" id="searchTip"></i>
            <input type="text" placeholder="请输入要搜索的关键词" id="searchword">
            <button class="button-event-middle-blue search" id="search">搜索</button>
            <button class="button-other" id="addNew"><i class="iconfont icon-add"></i> 创建新的规则</button>
        </div>
        <!--状态栏-->
        <div class="status">
            <ul>
                <li class="active">所有状态</li>
                <li>启用</li>
                <li>停用</li>
            </ul>
        </div>
        <!--表格-->
        <div class="table-wrap">
            <table class="table-main">
                <thead>
                <tr>
                    <th>状态防护</th>
                    <th>匹配关键词</th>
                    <th>匹配规则</th>
                    <th>类型</th>
                    <th>处理方式</th>
                    <th>防护次数</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
        <!--分页-->
        <div class="pop-pages"></div>
    </div>
</section>
<footer>
</footer>

<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/setVerificationTip.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/error.js"></script>

<script src="http://zudahao.zudahao.com/agents2/js/protect-keyword-rule.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/protect-keyword-rule.js"></script>

<!--页面表格内容-->
<script  id="tbodyTemplate" type="text/html">
    {{  if agentsDefendRules.length !== 0 }}
    {{each agentsDefendRules as item i}}
    <tr data-id="{{ item.agentsDefendRuleId}}">
        <!--状态-->
        <td>{{ if item.ruleStatus == 1}}启用{{else}}停用{{/if}}</td>
        <!--匹配关键词-->
        <td class="text-limit12">{{ item.keywords }}</td>
        <!--匹配规则-->
        <td>
            {{ if item.matchType == 1}}
            包含
            {{else item.matchType == 2}}
            完全规则
            {{/if}}
        </td>
        <!--防护类型-->
        <td>
            {{ if item.ruleType == 1}}
            桌面规则
            {{else item.ruleType == 2}}
            IP规则
            {{/if}}
        </td>
        <!--处理方式-->
        <td>
            {{ if item.handleType == 1}}
            冻结cdk
            {{else if item.handleType == 2}}
            重启
            {{else if item.handleType == 3}}
            蓝屏
            {{/if}}
            冻结cdk</td>
        <!--防护次数-->
        <td>{{ item.defendCount }}</td>
        <!--创建时间-->
        <td>
            {{ item.ruleCreateTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}
        </td>
        <td>
            {{ if item.ruleStatus == 1}}
            <button class="button-event-small-blue" id="end" data-id="1">停用</button>
            {{else item.ruleStatus == 2}}
            <button class="button-event-small-blue" id="start" data-id="2">启用</button>
            {{/if}}
            <button class="button-event-small-blue" id="delete">删除</button>
        </td>
    </tr>
    {{/each}}
    {{ else }}
    {{ window.$('.main').getUndefined({text:'没有您要的数据哦。'}) }}
    {{ /if }}
</script>

<!--添加关键词规则-->
<section class="pop-bg hide">
    <div class="message-pop pop">
        <!--关闭按钮-->
        <div class="pop-title">
            <i class="iconfont icon-close"></i>
        </div>
        <!--表单-->
        <div class="form">
            <ul>
                <li class="form-content">
                    <span>* 防护类型</span>
                    <i class="imgfont img-question" id="ruleTypeTip"></i>
                    <div id="ruleType">
                        <div class="select_text borderAll"></div>
                    </div>
                </li>
                <li class="form-content">
                    <span>* 匹配规则</span>
                    <i class="imgfont img-question" id="matchTypeTip"></i>
                    <div id="matchType">
                        <div class="select_text borderAll"></div>
                    </div>
                </li>
                <li class="form-content">
                    <span>* 处理方式</span>
                    <i class="imgfont img-question" id="handleTypeTip"></i>
                    <div id="handleType">
                        <div class="select_text borderAll"></div>
                    </div>
                </li>
                <li class="form-content">
                    <span>* 关键词</span>
                    <i class="imgfont img-notice" id="keywordsTip"></i>
                    <textarea placeholder="请填写关键词" id="keywords" maxlength="250"></textarea>
                    <!--<p id="contentLimit">还能输入<i class='font-nums'>250</i>个字符</p>-->
                </li>
            </ul>
            <div class="button-group">
                <button class="button-event-large-gray cancel">取消</button>
                <button class="button-event-large-blue" id="confirm">创建关键词</button>
            </div>
        </div>
    </div>
</section>
</body>
</html>
