<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>程序黑名单</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">

</head>
<body>
<header>
</header>
<section class="wrap">
    <nav class="nav">
    </nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>防护中心</span> / <span>程序黑名单</span>
        </div>
        <!--单框搜索-->
        <div class="search-bg single-search">
            <span>快速搜索</span>
            <i class="imgfont img-question" id="searchTip"></i>
            <input type="text" placeholder="请输入要搜索的md5" id="searchword">
            <button class="button-event-middle-blue search" id="search">搜索</button>
            <button class="button-other" id="addNew"><i class="iconfont icon-add"></i> 创建新的黑名单</button>
        </div>
        <!--表格-->
        <div class="table-wrap">
            <table class="table-main">
                <thead>
                <tr>
                    <th>状态</th>
                    <th>md5</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
        <!--分页-->
        <div class="pop-pages"></div>
    </div>
</section>
<footer>
</footer>


<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/jquery.loading.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/setVerificationTip.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/error.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/protect-program-blacklist.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/protect-program-blacklist.js"></script>
<!--页面表格内容-->
<script  id="tbodyTemplate" type="text/html">
    {{ if agentsFileMd5Blacks.length !== 0 }}
    {{each agentsFileMd5Blacks as item i}}
    <tr data-id="{{ item.agentsFileMd5BalckId}}">
        <!--状态-->
        <td>
            {{ if item.isValid == 1}}
            启用
            {{else}}
            停用
            {{/if}}
        </td>
        <!--匹配关键词-->
        <td class="text-limit12">{{ item.md5 }}</td>
        <!--创建时间-->
        <td>{{ item.createTime | dateFormat:'yyyy-MM-dd hh:mm:ss' }}
        </td>
        <td>
            {{ if item.isValid == 1}}
            <button class="button-event-small-blue" id="end">停用</button>
            {{else item.isValid == 2}}
            <button class="button-event-small-blue" id="start">启用</button>
            {{/if}}
            <button class="button-event-small-blue" id="delete">删除</button>
        </td>
    </tr>
    {{/each}}
    {{ else }}
    {{ window.$('.main').getUndefined({text:'没有您需要的数据哦。'}) }}
    {{ /if }}
</script>

<!--添加程序黑名单-->
<section class="pop-bg hide">
    <div class="message-pop pop">
        <!--关闭按钮-->
        <div class="pop-title">
            <i class="iconfont icon-close"></i>
        </div>
        <!--表单-->
        <div class="form">
            <ul>
                <li class="form-content">
                    <span>* 状态</span>
                    <i class="imgfont img-question" id="accountTypeTip"></i>
                    <div id="accountType">
                        <div class="select_text borderAll"></div>
                    </div>
                </li>
                <li class="form-content">
                    <span>* MD5</span>
                    <i class="imgfont img-notice" id="MD5Tip" data-id="tipPop"></i>
                    <textarea placeholder="填写MD5" id="MD5"></textarea>
                </li>
            </ul>
            <div class="button-group">
                <button class="button-event-large-blue" id="confirm">创建黑名单</button>
            </div>
        </div>
    </div>
</section>

</body>
</html>
