
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录记录</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">
</head>
<body>
<header>
</header>
<section class="wrap">
    <nav class="nav"></nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>安全中心</span> / <span>登录记录</span>
        </div>
        <!--表格-->
        <div class="table-wrap">
        <table class="table-main">
            <thead>
            <tr>
                <th>登陆记录</th>
                <th>登陆方式</th>
                <th>登陆IP</th>
                <th>IP归属地</th>
            </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
        </div>
        <!--分页-->
        <div class="pop-pages"></div>
    </div>
</section>
<footer>
</footer>

<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/safety-history-login.js"></script>
<script id="tbodyTemplate" type="text/html">
    {{  if infos.length !== 0 }}
        {{ each infos as item i }}
        <tr>
            <td>{{ item.loginTime | dateFormat:'yyyy年MM月dd日 hh:mm:ss' }}</td>
            <td>
                {{ if item.loginEquip == 1 }}网页登录
                {{else if item.loginEquip == 2 }}电脑登录
                {{else if item.loginEquip == 3 }}安卓设备登录
                {{else if item.loginEquip == 4 }}苹果设备登录
                {{else if item.loginEquip == 5 }}移动设备登录
                {{ /if }}
            </td>
            <td>{{ item.loginIp }}</td>
            <td>{{ item.loginAttr }}</td>
        </tr>
        {{ /each }}
    {{ else }}
    <div class="undefined"></div>
    {{ /if }}
</script>

</body>
</html>