<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>店铺公告</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">
</head>

<body>
<header>
</header>
<section class="wrap">
    <nav class="nav">
    </nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>店铺管理</span> / <span>店铺公告</span>
        </div>
        <!--单框搜索-->
        <div class="search-bg single-search">
            <span>搜索公告标题</span>
            <i class="imgfont img-question" id="searchTip"></i>
            <input type="text" placeholder="请输入要搜索的标题" id="searchword">
            <button class="button-event-middle-blue search" id="search">搜索</button>
            <button class="button-other" id="addNew"><i class="iconfont icon-add"></i> 创建一个新的公告</button>
        </div>
        <!--状态栏-->
        <div class="status">
            <ul>
                <li class="active">所有状态</li>
                <li>已发布</li>
                <li>待发布</li>
                <a class="line"></a>
            </ul>
        </div>
        <!--表格-->
        <div class="table-wrap">
        <table class="table-main">
            <thead>
            <tr>
                <th>公告编号</th>
                <th>标题</th>
                <th>公告状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
        </div>
        <!--分页-->
        <div class="pop-pages"></div>
    </div>
</section>
<footer>
</footer>
<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/laydate/laydate.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/setVerificationTip.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/shop-news.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/shop-news.js"></script>

<!--页面表格内容-->
<script  id="tbodyTemplate" type="text/html">
    {{if agentsNews.length != 0 }}
    {{each agentsNews as item i}}
    <tr data-id="{{ item.agentsNewsId}}">
        <td>{{ item.agentsNewsId}}</td>
        <td>{{ item.newsTitle}}</td>
        <td>
            {{ if item.newsState == 1 }}已发布
            {{ else if item.newsState == 2 }}代理商删除
            {{ else if item.newsState == 3 }}管理员删除
            {{ else if item.newsState == 4 }}待发布
            {{ /if }}

        </td>
        <td>{{ item.creatTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}</td>
        <td>
            <button class="button-event-small-blue" id="look">查看</button>
            <button class="button-event-small-blue" id="delete">删除</button>
            <button class="button-event-small-blue" id="edit">编辑</button>
        </td>
    </tr>
    {{/each}}
    {{ else }}
    {{ window.$('.main').getUndefined({text:'没有您要的数据哦。'}) }}
    {{ /if }}
</script>

<!--添加新的公告-->
<section class="pop-bg hide">
    <div class="message-pop pop">
        <!--关闭按钮-->
        <div class="pop-title">
            <i class="iconfont icon-close"></i>
        </div>
        <!--表单-->
        <div class="form">
            <ul>
                <li class="form-content">
                    <span>* 新闻标题</span>
                    <i class="imgfont img-notice" id="shopNewsTitleTip" data-id="tipPop"></i>
                    <input type="text" placeholder="请填写标题" id="shopNewsTitle">
                </li>
                <li class="form-content">
                    <span>* 新闻有效期</span>
                    <i class="imgfont img-notice" id="timeFrameAfterTip" data-id="tipPop"></i>
                    <input type="text" placeholder="请填写新闻有效期" id="timeFrameAfter">
                </li>
                <li class="form-content">
                    <span>* 新闻内容</span>
                    <i class="imgfont img-notice" id="shopNewsContentTip" data-id="tipPop"></i>
                    <textarea placeholder="填写公告内容" id="shopNewsContent"></textarea>
                </li>
            </ul>
            <div class="button-group">
                <button class="button-event-large-blue" id="confirm">确定</button>
            </div>
        </div>
    </div>
</section>

</body>
</html>
