<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>快速创单</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">
    <link href="http://zudahao.zudahao.com/agents2/css/trade-quike.css" rel="stylesheet">
</head>
<body>
<header>
</header>
<section class="wrap">
    <nav class="nav">
    </nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>宝贝管理</span> / <span>快速创单</span>
        </div>
        <div class="form-table">
            <!--表单-->
            <div class="form">
            <ul>
                <li class="form-content">
                    <span>* 账号别名</span>
                    <i class="imgfont img-notice" id="orderKeywordsNotice"></i>
                    <input type="text" placeholder="请输入产品编号、账号别名或产品标题" id="orderKeywords">
                </li>
                <li class="form-content">
                    <span>* 出租时长</span>
                    <i class="imgfont img-notice" id="timeNotice"></i>
                    <input type="text" placeholder=" 1+1表示出租1小时加赠送1小时 " id="time">
                </li>
                <li class="form-content">
                    <span>* 实际收取金额</span>
                    <i class="imgfont img-question" id="allMoneyNotice"></i>
                    <input type="text" placeholder="请输入实际收取金额" id="allMoney">
                </li>
                <li class="form-content">
                    <span>* 单价</span>
                    <i class="imgfont img-question" id="hourMoneyNotice"></i>
                    <input type="text" placeholder="将显示宝贝的单价" id="hourMoney" disabled>
                </li>
                <!--<li class="form-content">-->
                    <!--<span>* 到期自动下号</span>-->
                    <!--<i class="imgfont img-notice" id=""></i>-->
                    <!--<input type="text" placeholder="" id="">-->
                <!--</li>-->
                <li class="form-content">
                    <span>* 租客旺旺/QQ</span>
                    <i class="imgfont img-question" id="usernameNotice"></i>
                    <input type="text" placeholder="请输入租客旺旺或QQ" id="username">
                </li>
                <!--<li class="form-content">-->
                    <!--<span>* 订单备注</span>-->
                    <!--<i class="imgfont img-notice" id=""></i>-->
                    <!--<input type="text" placeholder="" id="">-->
                <!--</li>-->
            </ul>
            <div class="button-group">
                <button class="button-event-large-blue" id="modify">确定</button>
            </div>
        </div>
            <!--表格-->
            <div class="table-wrap">
                <table class="table-main">
                    <thead>
                    <tr>
                        <th>选定</th>
                        <th>状态</th>
                        <th>别名</th>
                        <th>标题</th>
                        <th>时租</th>
                        <th>产品编号</th>
                        <th>分成</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
            <div class="pop-pages"></div>
        </div>
    </div>
</section>
<footer>
</footer>
<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/jquery.loading.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/setVerificationTip.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/error.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/uppop.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/trade-quike.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/trade-quike.js"></script>

<!--页面表格内容-->
<script id="tbodyTemplate" type="text/html">
    {{if agentsProductDtos.length !== 0 }}
    {{each agentsProductDtos as item i}}
    <tr data-id="{{ item.productId }}">
        <td><button class="button-event-small-blue query">选定</button></td>
        <td class="">{{if item.state == 1}}正常可租
            {{else if item.state == 2 }}正常已租
            {{else if item.state == 3 }}待编辑
            {{else if item.state == 4 }}等待审核
            {{else if item.state == 5 }}下架
            {{ /if }}
        </td>
        <td class="nickName">{{ item.nickName }}</td>
        <td class="text-limit20">{{ item.productTitle }}</td>
        <td class="hrental">{{ item.hrental }}</td>
        <td class="productId">{{ item.productId }}</td>
        <td class="black customer_rate">{{ item.rate }}</td>
    </tr>
    {{/each}}
    {{ else }}
    {{ window.$('.main').getUndefined({text:'没有您需要的数据哦。'}) }}
    {{ /if }}
</script>


</body>
</html>
