<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>订单管理</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">
    <link href="http://zudahao.zudahao.com/agents2/css/product.css" rel="stylesheet">
</head>
<body>
<header></header>
<section class="wrap">
    <nav class="nav"></nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>交易管理</span> / <span>订单管理</span>
        </div>
        <!--单框搜索-->
        <div class="search-bg single-search">
            <span>多条件快速搜索 </span>
            <i class="imgfont img-question" id="searchNotice"></i>
            <input type="text" placeholder="可输入订单号码、上号激活码或产品标题" id="searchword">
            <button class="button-event-middle-blue" id="search">搜索</button>
            <button class="button-event-middle-white" data-id="clearSearch">重置搜索条件</button>
            <button class="button-event-middle-white" id="multi-search">高级搜索</button>
        </div>
        <!--多框搜索-->
        <div class="search-bg multi-search">
            <ul>
                <li class="multi-search-item">
                    <span>订单关键词</span>
                    <i class="imgfont img-question" id="orderKeywordsNotice"></i>
                    <input type="text" placeholder="请输入订单号码、上号激活码或产品标题" id="orderKeywords">
                </li>
                <li class="multi-search-item">
                    <span>产品信息关键词</span>
                    <i class="imgfont img-question" id="productKeywordsNotice"></i>
                    <input type="text" placeholder="请输入产品编号或账号别名" id="productKeywords">
                </li>
                <li class="multi-search-item">
                    <span>游戏分类和大区</span>
                    <i class="imgfont img-question" id="zizoneNotice"></i>
                    <div style="display: inline-block;position: relative;" class="gameBoxBorder">
                        <div class="game-select" id="game-select" style="display: none;"></div>
                    </div>
                </li>
                <li class="multi-search-item">
                    <span>订单状态</span>
                    <i class="imgfont img-question" id="productStateNotice"></i>
                    <div id="productState">
                        <div class="select_text borderAll"></div>
                    </div>
                </li>
                <li class="multi-search-item">
                    <span>订单时间起始</span>
                    <i class="imgfont img-question" id="timeFrameNotice"></i>
                    <input type="text" placeholder="请输入订单时间起始" id="timeFrameBefore">
                </li>
                <li class="multi-search-item">
                    <span>订单类型</span>
                    <i class="imgfont img-question" id="productTypeNotice"></i>
                    <div id="productType" class="borderAll">
                        <div class="select_text"></div>
                    </div>
                </li>
                <li class="multi-search-item">
                    <span>游戏账号</span>
                    <i class="imgfont img-question" id="gameAccountNotice"></i>
                    <input type="text" placeholder="请输入游戏账号" id="gameAccount">
                </li>
                <li class="multi-search-item">
                    <span>游戏角色名称</span>
                    <i class="imgfont img-question" id="roleNameNotice"></i>
                    <input type="text" placeholder="请输入游戏角色名称" id="roleName">
                </li>
                <li class="multi-search-item">
                    <span>客户联系方式</span>
                    <i class="imgfont img-question" id="linkWayNotice"></i>
                    <input type="text" placeholder="请输入客户联系方式" id="linkWay">
                </li>
                <li class="multi-search-item">
                    <span>客户支付账号</span>
                    <i class="imgfont img-question" id="userPayWayNotice"></i>
                    <input type="text" placeholder="请输入客户支付账号" id="userPayWay">
                </li>
                <li class="multi-search-item">
                    <span>下单方式</span>
                    <i class="imgfont img-question" id="payWayNotice"></i>
                    <div id="payWay">
                        <div class="select_text borderAll"></div>
                    </div>
                </li>
                <li class="multi-search-item">
                    <span>客户账号</span>
                    <i class="imgfont img-question" id="userAccountNotice"></i>
                    <input type="text" placeholder="请输入客户账号" id="userAccount">
                </li>
                <li class="multi-search-item-single ">
                    <button class="button-event-middle-blue" id="moreSearch">搜索订单</button>
                    <button class="button-event-middle-white" data-id="clearSearch">重置搜索条件</button>
                    <button class="button-event-middle-white" id="single-search">关闭多项搜索</button>
                </li>
            </ul>
        </div>
        <!--状态栏-->
        <div class="status">
            <ul>
                <li class="active">所有订单</li>
                <li>租赁中</li>
                <li>租赁结束</li>
                <li>客户申诉</li>
                <li>代理商申诉</li>
                <li>订单异常关闭</li>
                <li>撤单成功</li>
                <li>已预约</li>
                <li>取消预约</li>
                <a class="line"></a>
            </ul>
        </div>
        <!--表格标题-->
        <div class="product-title">
            <ul>
                <li>订单账号信息</li>
                <li>资金信息</li>
                <li>监控信息</li>
                <li>订单状态</li>
                <li>订单操作</li>
            </ul>
        </div>
        <!--产品信息列表-->
        <div class="table-wrap">
            <div id="tbody"></div>
        </div>
        <!--分页-->
        <div class="pop-pages"></div>
    </div>
</section>
<footer>
</footer>

<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/clipboard.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/laydate/laydate.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/selected.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/jQuery.Hz2Py-min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/error.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/modifyPop.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/trade-manage.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/trade-manage.js"></script>

<!--页面表格内容-->
<script id="tbodyTemplate" type="text/html">
    {{if orderAgentsDtos.length !== 0 }}
    {{each orderAgentsDtos as item i}}
    <div class="product" data-id="{{item.orderId }}">
        <div class="product-item">
            {{ if item.orderState == 1 && item.orderCdkState !=3 }}
            <div class="title state-normal">
                {{else if item.orderState == 4 || item.orderState == 3}}
                <div class="title state-warm">
                {{ else if item.orderState == 6 || item.orderCdkState == 3 && item.orderState!= 2}}
                <div class="title state-abnormal">
                    {{else if item.orderState == 11 }}
                    <div class="title state-reserve">
                    {{else}}
                    <div class="title state-end">
                        {{/if}}
                        <ul class="product-notice">
                            <li>上号激活码  {{item.orderCdk}}{{ if item.orderState == 1 }}<button class="button-event-small-long-blue" id="activation">上号码术语</button>
                                {{/if}}
                            </li>
                            <li>
                                {{ if item.userAccount }}
                                <span class="user-account">{{ item.userAccount }}</span>
                                <i class="imgfont img-filter" id="filter"></i>
                                <i class="imgfont img-chat"></i>
                                {{ if item.isBlack != 1 }}
                                <i class="imgfont img-black"  id="toBlack"></i>
                                {{/if }}
                                {{ /if }}
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
                    <ul class="product-item-info">
                        <li>
                            <ul class="product-item-info-item">
                                <li class="text-limit" title="{{ item.productTitle}}">{{ item.productTitle}}</li>
                                <li>游戏大区：<span class="game-info">{{ item.zoneName }}</span></li>
                                <li>订单编号：{{ item.orderId }}</li>
                                <li>产品编号：<a href="product-manage.html?productId={{ item.productId }}" class="state-text-base" target="_blank">{{ item.productId }}</a></li>
                                <li>下单方式：
                                    {{ if item.orderType == 2 }}<span class="way-self">商家自建</span>
                                    {{ else if item.orderType== 1 }}<span class="way-terrace">平台订单</span>
                                    {{ /if }}
                                </li>
                                <li>账号别名：{{ item.nickName }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product-item-info-item">
                                <li>订单租金：{{ item.rental }}元</li>
                                <li>订单押金：{{ item.deposit }}</li>
                                <li>号主获利：{{ item.rate }}%</li>
                                <li>商家获利：{{ item.ownerRate }}%</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product-item-info-item">
                                <li>激活次数：{{ item.activateCount }}次</li>
                                <li>激活设备：{{ item.activateEquipCount}}次</li>
                                <li>违规操作：{{ item.doneViolation }}次</li>
                                <li>截图数量：<a href="trade-picture.html?orderId={{item.orderId }}" class="state-text-normal"  target="_blank">{{item.screenShotCount }}</a></li>
                                <li>危险进程：<a href="trade-diary.html?orderId={{item.orderId }}" class="state-text-normal" target="_blank">{{item.unAuditScrShot}}</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product-item-info-item">
                                <li>状态：{{ if item.orderState == 1 }}租赁中
                                    {{else if item.orderState == 2 }}租赁结束
                                    {{else if item.orderState == 3 }}客户申诉
                                    {{else if item.orderState == 4 }}代理商申诉
                                    {{else if item.orderState == 6 }}异常关闭
                                    {{else if item.orderState == 7 }}成功扣除保证金
                                    {{else if item.orderState == 8 }}撤单中
                                    {{else if item.orderState == 9 }}撤单成功
                                    {{else if item.orderState == 10 }}撤单失败
                                    {{else if item.orderState == 11 }}预约中
                                    {{else if item.orderState == 12 }}取消预约
                                    {{/if }}
                                    {{if item.orderCdkState == 3 }}
                                    <span class="state-text-warm">
                                    （CDK冻结）
                                    </span>
                                    {{ /if }}
                                </li>
                                {{ if item.errorNote }}
                                <li class="text-limit">
                                    理由：{{ item.errorNote}}
                                </li>
                                {{ /if }}
                                <li>开始：{{ item.startTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}</li>
                                <li>结束：{{ item.endTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}</li>
                                <li>时长：{{ timeLength(item.endTime,item.startTime)}} </li>
                                <li>剩余：{{ timeResidue( item.endTime ) }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product-item-info-item">
                                <li>
                                    {{if item.orderState == 1 }}
                                        {{ if item.orderType== 2 }}
                                            {{ if item.orderCdkState == 1 }}
                                                <button class="button-event-small-blue" id="goOn">续租</button>
                                                <button class="button-event-small-blue" id="closeOrder">锁卡</button>
                                                <button class="button-event-small-blue" id="stopOrder">停卡</button>
                                            {{else if item.orderCdkState == 3 }}
                                                <button class="button-event-small-blue" id="openOrder">解卡</button>
                                                <button class="button-event-small-blue" id="stopOrder">停卡</button>
                                            {{/if }}
                                            <button class="button-event-small-blue" id="quickReset">快速撤单</button>
                                        {{else if item.orderType == 1 }}
                                            {{ if item.orderCdkState == 1 }}
                                                <button class="button-event-small-blue" id="closeOrder">锁卡</button>
                                                <button class="button-event-small-blue" id="stopOrder">停卡</button>
                                            {{else if item.orderCdkState == 3 }}
                                                <button class="button-event-small-blue" id="openOrder">解卡</button>
                                                <button class="button-event-small-blue" id="stopOrder">停卡</button>
                                            {{/if }}
                                            <!--<button class="button-event-small-blue"><a href="sale-complain.html?orderId={{item.orderId}}" target="_blank">评价</a></button>-->
                                        {{/if }}
                                    {{ else if item.orderState == 2 }}
                                        {{ if item.isBackComment == 0 && item.commentFlag !=0 }}
                                            <button class="button-event-small-blue"><a href="sale-complain.html?orderId={{item.orderId}}" target="_blank">评价回评</a></button>
                                        {{else if item.isBackComment == 1 && item.commentFlag != 0 }}
                                            <button class="button-event-small-blue"><a href="sale-complain.html?orderId={{item.orderId}}" target="_blank">查看回评</a></button>
                                        {{/if }}
                                    {{ else if item.orderState == 3 || item.orderState == 4 }}
                                        <button class="button-event-small-blue"><a href="sale-complain.html?orderId={{item.orderId}}" target="_blank">查看申诉</a></button>
                                    {{/if }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {{/each}}
            {{ else }}
            {{ window.$('.main').getUndefined({text:'没有您需要的数据哦。'}) }}
            {{ /if }}
        </div>
    </div>
</script>
<!--上号码术语-->
<section class="pop-bg hide" id="upCode">
    <div class="opacity-pop pop" style="height: 680px">
        <div class="pop-title">
            上号码术语
            <i class="iconfont icon-close"></i>
        </div>
        <div class="pop-title">
            所有安全软件才可使用
            <button class="button-event-small-blue fr" id="copyBtn" data-clipboard-target="#shortContent">复制</button>
        </div>
        <div class="pop-info">
            <div class="pop-info-item">
                <textarea id="shortContent" cols="73" rows="10" ></textarea>
            </div>
        </div>
        <div class="pop-info" id="activationInfo">
            <div class="pop-info-item">
                <table>
                    <thead>
                    <tr>
                        <th>别名</th>
                        <th>模板主题</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="upCodeTBody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop-pages"></div>
    </div>
</section>
<!--上号码术语之表格-->
<script id="uppopTbodyTemplate" type="text/html">
    {{ if object.length !== 0 }}
    {{ each object as item i}}
    <tr data-id="{{ item.agentsShortCutId }}">
        <td class="">{{ item.nickName}}</td>
        <td class="text-limit12 shortcut-content" title="{{ item.content }}">{{ item.content }}</td>
        <td>
            <!--<i class="iconfont icon-send" id="copy"></i>-->
            <button class="button-event-small-blue copy" data-clipboard-target="#shortContent" id="copy">选择</button>
        </td>
    </tr>
    {{/each}}
    {{/if}}
</script>
<!--快速撤单-->
<section class="pop-bg hide" id="reset">
    <div class="form-pop pop">
        <div class="pop-title">
            快速撤单
            <i class="iconfont icon-close"></i>
        </div>
        <div class="pop-info">
            <div class="pop-info-item">
                <span>商户扣除租金(不填默认全扣)</span>
                <input type="text" name="">
            </div>
            <div class="pop-info-item">
                <span>号主扣除分成(不填默认全扣)</span>
                <input type="text" name="">
            </div>
        </div>
        <div class="pop-button-group clearBoth">
            <button class="button-event-middle-gray fl cancel">取消</button>
            <button class="button-event-middle-blue fr" id="resetConfirm">确认</button>
        </div>
    </div>
</section>
<!--续租-->
<section class="pop-bg hide" id="goOnRent">
    <div class="form-pop pop">
        <div class="pop-title">
            订单快速续租
            <i class="iconfont icon-close"></i>
        </div>
        <div class="pop-info">
            <div class="pop-info-item">
                <span>订单加时（1+10 表示 1小时加上10分钟）</span>
                <input id="rentTime" type="text" placeholder="0">
            </div>
            <div class="pop-info-item">
                <span>补交金额（无补交金额可不填）</span>
                <input id="rentMoney" type="text" placeholder="0">
            </div>
            <div class="pop-info-item">
                <span>本次续租号主是否享受分成</span>
                <div id="enjoySharing" style="display: inline-block"></div>
            </div>

        </div>
        <div class="pop-button-group clearBoth">
            <button class="button-event-middle-gray fl cancel">取消</button>
            <button class="button-event-middle-blue fr" id="goOnRentConfirm">确认</button>
        </div>
    </div>
</section>


</body>
</html>
