<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>监控日志</title>
    <link href="http://zudahao.zudahao.com/agents2/css/public.css" rel="stylesheet">
</head>

<body>
<header>
</header>
<section class="wrap">
    <nav class="nav">
    </nav>
    <div class="main">
        <!--面包屑-->
        <div class="main-title">
            <span>后台</span> / <span>店铺管理</span> / <span>监控日志</span>
        </div>
        <!--多框搜索-->
        <div class="search-bg multi-search show">
            <ul>
                <li class="multi-search-item">
                    <span>订单号</span>
                    <i class="imgfont img-question" id="orderIdNotice"></i>
                    <input type="text" placeholder="请输入订单号码" id="orderId">
                </li>
                <li class="multi-search-item">
                    <span>操作记录类型</span>
                    <i class="imgfont img-question" id="typeNotice"></i>
                    <div id="type" class="borderAll">
                        <div class="select_text"></div>
                    </div>
                </li>
                <li class="multi-search-item-single ">
                    <button class="button-event-middle-blue" id="search">搜索</button>
                </li>
            </ul>
        </div>
        <!--状态栏-->
        <div class="status">
            <ul>
                <li class="active">进程或模块拦截</li>
                <li>窗口拦截</li>
                <li>进程行为拦截</li>
                <li>操作行为拦截</li>
                <li>PC端提示</li>
                <a class="line"></a>
            </ul>
        </div>
        <!--表格-->
        <div class="table-wrap">
            <table class="table-main">
                <thead id="thead">
                <tr>
                    <th>时间</th>
                    <th>危险程度</th>
                    <!--<th>别名</th>-->
                    <th>激活码</th>
                    <th>进程或模块名称</th>
                    <th>游戏在线</th>
                    <th>拦截结果</th>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
        <!--分页-->
        <div class="pop-pages"></div>
    </div>
</section>
<footer>
</footer>
<script src="http://zudahao.zudahao.com/agents2/js/jquery-3.2.1.min.js"></script>
<script src="http://zudahao.zudahao.com/agents2/laydate/laydate.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/someComponent.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/setVerificationTip.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-web.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/template-function.js"></script>
<script src="http://zudahao.zudahao.com/agents2/js/base.js"></script>


<script src="http://zudahao.zudahao.com/agents2/js/trade-diary.js"></script>
<script src="http://zudahao.zudahao.com/agents2/Interface/trade-diary.js"></script>
<!--页面表格内容-->
<script  id="tbodyTemplate" type="text/html">
    {{if pcProcesses.length != 0 }}
    {{each pcProcesses as item i}}
    <tr>
        <td>{{ item.timeStamp | dateFormat:'yyyy-MM-dd hh:mm:ss'}}</td>
        {{ if item.type != 5 }}
            {{if item.scanPositive < 6 }}
            <td class="state-text-normal">安全</td>
            {{ else if item.scanPositive <11}}
            <td class="state-text-unknown">未知</td>
            {{else}}
            <td class="state-text-warm">危险</td>
            {{/if}}
        {{/if}}
        <td>{{ item.cdk}}</td>
        {{ if item.type != 5 }}
            <td>
                {{ if item.imagePath != '' }}
                    {{ lastString(item.imagePath)}}<i class="imgfont img-question" data-id="imagePathNotice" data-msg="{{ item.imagePath }}" data-note="{{item.note}}"></i>
                {{ /if }}
            </td>
        {{ else }}
            <td>{{ item.note }}</td>
        {{/if}}
        {{ if item.type != 5 }}
            <td>
                {{ if item.isOnline == 0 }}
                不在线
                {{ else if item.isOnline == 0 }}
                在线
                {{ /if }}
            </td>
            <td>
                {{ if item.handleResult == 1 }}
                拦截成功
                {{ else if item.handleResult == 2 }}
                放行
                {{ else if item.handleResult == 3 }}
                处理中
                {{ /if}}
            </td>
        {{ /if}}
    </tr>
    {{/each}}
    {{ else }}
    {{ window.$('.main').getUndefined({text:'没有您要的数据哦~'}) }}
    {{ /if }}
</script>




</body>
</html>
